.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  width: 500px;
}

.inputDiv{
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 5px 0px;
  outline: none;
}

button{
  width: 100%;
  padding: 8px 8px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  
}

.input-error {
  border-color: #fc8181;
}

.error {
  color: #fc8181;
  font-size: 12px;
  text-align: left;
}
